* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CashMarket';
    src: url('/fonts/CashMarket-BoldRounded.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Utendo';
    src: url('/fonts/Utendo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    align-items: center;
    background-color: #5C3E94;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

header .logo {
    width: 4%;
    height: auto;
    margin-right: 1%;
}

header h1 {
    font-family: 'CashMarket';
    color: white;
}

header .offcanva {
    margin-left: auto;
    display: none;
}

main {
    background-color: #15151C;
    padding-left: 5%;
    padding-right: 5%;
    color: white
}

footer {
    background-color: #5C3E94;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    padding-bottom: 10px;
}

footer .informacion {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3%;
}

footer .columnaFooter h1 {
    font-family: 'CashMarket';
    font-size: x-large;
    margin-bottom: 3%;
}

footer .columnaFooter a {
    font-family: 'Utendo';
}

footer .columnaFooter a:hover,
footer .copyright a:hover {
    text-decoration: none;
}

footer .logoTitulo {
    text-align: center;
}

footer .logoTitulo h1 {
    font-family: 'CashMarket';
    font-size: xx-large !important;
    margin-bottom: 0 !important;
}

footer .logoTitulo p {
    font-family: 'Utendo';
}

footer .logo {
    width: 50%;
    height: auto;
}

footer .ayuda ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .ayuda li {
    margin-bottom: 1%;
}

footer .ayuda a {
    color: white;
}

footer .itemFooter {
    display: flex;
}

footer .itemFooter img {
    width: 10%;
    margin-right: 2%;
    margin-bottom: 1%;
}

footer .itemFooter a {
    color: white;
}

footer .contacto .itemFooter a {
    margin-top: 2px;
}

footer .redesSociales .itemFooter a {
    margin-top: 4px;
}

.botonInstalar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: #57C7A3;
    border-radius: 10px;

    padding: 2%;
    margin-bottom: 15px;

    text-decoration: none;
    cursor: pointer;
}

.botonInstalar img {
    width: 28px;
    height: 28px;
}

.botonInstalar p {
    margin: 0;
    color: black;
    font-family: 'CashMarket';
}

.botonInstalar:hover {
    text-decoration: underline !important;
}

footer .footerFila {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Utendo';
}

footer .copy {
    margin-top: 1%;
}

footer .copy p {
    margin: 0;
}

footer .legal {
    margin-top: 2px;
}

footer .legal a {
    color: white;
}

footer .legal p {
    margin: 0 5px;
}

@media (max-width: 600px) {
    header .logo {
        width: 15%;
    }

    nav {
        display: none;
    }

    header .offcanva {
        display: block !important;
    }

    .offcanva a {
        padding: 0;
        background: none;
        border: none;
    }

    .offcanva a img {
        width: 40px;
        height: 40px;
        display: block;
    }

    #offcanvasExample {
        background-color: #15151C;
    }

    .offcanvas-header h5 {
        color: white
    }

    footer {
        display: none;
    }
}